:root {
    --color-principal:#EAE7E2;
    --color-secundario:#015460;
    --color-terciario:#015460;
    --font-principal:'MiTipografia', sans-serif;
    --font-secundaria:'Montserrat', sans-serif;
    --font-sizepxs: 1em;
    --font-sizes: 1.6em;
    --font-sizem: 2em;
    --font-sizel: 3em;

}
@font-face {
  font-family: 'MiTipografia';
  src: url('WhisperMelody-Regular.otf') format('woff2'),
       url('fonts/MiTipografia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MiTipografia', sans-serif;
}

body {
    width: 100vw;
    background-color: var(--color-principal);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 320px;
    overflow-x: hidden;

}

body p {
    font-family: var(--font-secundaria);
    padding: 0;
  

}
body h2 {
    font-family: var(--font-principal);
    padding: 0;
   

}
header {
   width: 100;
   height: 100vh;
   background-color: var(--color-secundario);
   color: var(--color-principal);
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
}
header p {
    font-size: 1.1rem;
    padding: 0;
    letter-spacing: 2px;
    margin: 0;
    font-family:var(--font-secundaria);
    animation-name: texto;
    animation-duration: 5s;
}
header img {
    animation-name: texto;
    animation-duration: 5s;
}
header h2 {
    font-size: var(--font-sizel);
    padding: 0;
    margin: 0;
    font-family:var(--font-principal);
    animation-name: texto;
    animation-duration: 5s;
}

@keyframes texto {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* CORAZONES INCIO */
.heartd {
position: absolute; /* Se posiciona respecto al más cercano "relative" */
  top: 48px;
  right: 30px;
  z-index: 10; /* Asegura que esté encima */
  padding: 10px;
}
.heartd img {
    width: 100px;
}

.heartl{
  position: absolute; /* Se posiciona respecto al más cercano "relative" */
  bottom: 13px;
  left: 16px;
  z-index: 10; /* Asegura que esté encima */
  padding: 10px;
}
.heartl img {
    width: 100px;
}
/* TODO CONTADOR */

.title {
    color: var(--color-secundario);
    text-align: center;
    font-weight: 100;
    font-size: var(--font-sizexs);
    font-family: var(--font-secundaria);
}

.contador {
    display: flex;
    color: var(--color-secundario);
    background-color: var(--color-principal);
    justify-content: center;
    padding: 0px 0 30px 0;
    margin: 0;
  }

.bloque {
text-align: center;
margin: 0 10px; /* Añadido espacio entre bloques para mejorar la apariencia */
}

.numero {
font-size: 3em;
font-weight: 400;
}

.etiqueta {
font-size: 1.3em;
font-family: var(--font-principal);
}


/* TODO AUIDO */
.audiodiv {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--color-secundario);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: bounce;
    animation-duration:6s;
    animation-iteration-count:300ms;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.audiodiv img {
    padding: 3px 0 0 0;
    margin: 0;
    width: 60px;
    height: 60px;
}
.play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Ocultar los controles nativos del audio */
audio::-webkit-media-controls {
    display:none !important;
}

audio::-webkit-media-controls-panel {
    display:none !important;
}

audio::-webkit-media-controls-play-button {
    display:none !important;
}

audio::-webkit-media-controls-start-playback-button {
    display:none !important;
}

audio::-webkit-media-controls-enclosure {
    display:none !important;
}

audio::-webkit-media-controls-current-time-display {
    display:none !important;
}

/*INFO X BLOQUES*/
.information {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 1.3rem;
    padding: 40px 0 40px 0 ;
    background-color: var(--color-principal);
}
.information .heart2 {
position: absolute; /* Se posiciona respecto al más cercano "relative" */
  top: 1435px;
  right: 20px;
  z-index: 10; /* Asegura que esté encima */
  padding: 10px;
}
.information-bloque {
    width: 100%;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    color: var(--color-secundario);
}
.bloque1 {
    padding: 0;

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bloque2 {
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bloque2 p{
    padding: 15px 0 ;
    margin: 0;
    color: var(--color-terciario);
    font-family: var(--font-secundaria);
    max-width: 320px;
}
.information-bloque img {
    width: 40%;
}

.bloque2 h3{
    padding: 6px 0;
    margin: 0;
 font-size: 1.8em;
 color: var(--color-terciario);
 font-weight: 100;
 line-height:25px;
}

/* FOTO Y FRASE */
 
.quote {
    width: 100%;
    height: 50vh;
    background-image:url(./newimages/a.png) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote h3 {
    color: var(--color-principal);
     font-size: 2.2em;
    font-weight: 100;
    text-align: center;
    padding: auto;
    line-height: 1; /* espacio normal */

    margin: auto;
}

.quote2 {
    width: 100%;
    height: 50vh;
   padding: 0 0 60px 0 ;
    background-image:url(./newimages/d.png) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.quote2 h3 {
    
    color: var(--color-principal);
    -webkit-text-stroke: 2px solid black; 
    font-size: 2.2em;
    
    font-weight: 100;
    text-align: center;
   
    margin: auto;
}
.quote1 {
    width: 100%;
    height: 50vh;
    background-image:url(./newimages/b.png) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote1 h3 {
    color: var(--color-principal);
     font-size: 2.2em;
    font-weight: 100;
    text-align: center;
    padding: auto;
    margin: auto;
}
.quote3 {
    width: 100%;
    height: 50vh;
    background-image:url(./newimages/c.png) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote3 h3 {
    color: var(--color-principal);
     font-size: 2.2em;
    font-weight: 100;
    text-align: center;
    padding: auto;
    line-height: 1; /* espacio normal */

    margin: auto;
}

/*TIMELINE*/
.timeline {
    margin: 0px 0 60px 0;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;

}
.timeline h2 {
    text-align: center;
    font-family: var(--font-principal);
    font-weight: 100;
    font-size: 2.2em;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
    margin-bottom: none;
}
.timeline img {
margin: 0;
padding: 0;
    width: 200px;
    padding: auto;
    margin: auto;
}
.timeline .iconos {
    width: 100vw;
    height: auto;
    display: flex;
    text-align: center;
    gap: 6px;
}
.iconos-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.iconos-block img {
    width: 140px;
}
.iconos-block p {
    padding: 0;
    font-size: 2em;
    margin: 0;
    font-family: var(--font-principal);
    color: var(--color-terciario);
}

/*corazones*/
.timeline .heart1 {
position: absolute; /* Se posiciona respecto al más cercano "relative" */
  top: -45px;
  right: 20px;
  z-index: 10; /* Asegura que esté encima */
  padding: 10px;
}
.heart1 img {
    width: 100px;
}

.timeline .heart2{
  position: absolute; /* Se posiciona respecto al más cercano "relative" */
  bottom:-138px;
  left: 8px;
  z-index: 10; /* Asegura que esté encima */
  padding: 10px;
}
.heart2 img {
    width: 100px;
}
/*FORMS*/
.forms {
    background-color: var(--color-secundario);
    text-align: center;
    padding: 40px 0 40px 0;
}

.forms h2 {
    text-align: center;
    font-weight: 100;
    font-size: 2.2em;
    padding: 10px 0 0 0;
    margin: 0;
    color: var(--color-principal);
}
.forms p {
    font-size: 1.1em;
    padding: 10px 0 20px 0;
    margin: 0;
    color: var(--color-principal);
}
.information-bloque .botones {
    width: 140px;
    height: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: auto;
    gap: 10px;
}
.information-bloque .botones a {
    width: 100px;
}
label .grupo-opciones {
    font-family: var(--font-secundaria);
    color: var(--color-principal);
}
.formulario {
    max-width: 500px;
  width: 90vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formulario .formtitle {
    color: var(--color-principal);
    font-size: 1.8em;
    padding: 0;
    margin: 0;
}

.radio-group {
  display: flex;
  align-items: center;
  padding: 0 25%;
  justify-content: start;
  gap: 100px;
  font-size: 1.2em;
}

.grupo-opciones{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap:0px;
  padding: 0;
  margin: 0;
}

.radio-option {
  display: flex;
  width: 10px;
  align-items: center;
  font-family: var(--font-secundaria); /* Cambiá esto por el nombre real de tu fuente secundaria */
  color: var(--color-principal); /* Este es tu color principal, definilo antes o reemplazalo por un valor hex como #A3A87B */
  font-size: 1em;
  gap: 6px;
}

.radio-option input[type="radio"] {
  accent-color: var(--color-terciario); /* Cambia el color del círculo si el navegador lo soporta */
}
.etiqueta {
    font-family: var(--font-secundaria);
    padding: 0;
    margin: 0;
}
.formulario {
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
}
.formulario input,
.formulario select,
.formulario textarea {
  background-color: var(--color-principal);
  border: none;
  border-radius: 12px;
  padding: 0.8rem;
  font-size: 1rem;
  color: #a3a49d;
  width: 100%;
  box-sizing: border-box;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
  color: var(--gris-placeholder);
}

.formulario textarea {
  resize: vertical;
  min-height: 80px;
}
.forms .boton {
    font-size: 1em;
}

/*FYQ*/


.accordion {
    position: relative;
    padding: 60PX 0PX 60px 0px;
    width: 100%;
    margin: auto;
    background-color: var(--color-principal);
  text-align: center;
    font-family: var(--font-secundaria);
    color: var(--color-terciario);
  
}
.accordion H3 {
    color: var(--color-terciario);
    font-size: 2.2em;
    font-family: var(--font-principal);
    letter-spacing: 0.1rem;
    font-weight: lighter;
    line-height: 1; /* espacio normal */

    text-align: center;
}
.accordion-item {
    border: 1px solid #aeaeae;
    margin: 4PX;
    text-align: center;
    font-family: var(--font-secundaria);
}
.accordion-item button {
    margin: auto;
    text-align: center;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    border: 1PX SOLID var(--color-terciario);
    background-color:var(--color-principal);
    color: var(--color-terciario);
    font-family: var(--color-secundario);
    padding: 15px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color:var(--color-cuartro);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content p {
    padding: 15px 0 ;
    margin: 0;
    color: var(--color-terciario);
    font-family: var(--font-secundaria);
}

.accordion-item.active .accordion-content {
    max-height: 150px;
    padding: 15px;
}

.accordion-item.active .accordion-header {
    background-color: var(--color-cuartro);
}



/*corazones*/
.accordion .heart1 {
position: absolute; /* Se posiciona respecto al más cercano "relative" */
  top: -45px;
  right: 20px;
  z-index: 10; /* Asegura que esté encima */
  padding: 10px;
}
.heart1 img {
    width: 100px;
}

.heart2{
  position: absolute; /* Se posiciona respecto al más cercano "relative" */
  bottom: -54px;
  left: 8px;
  z-index: 10; /* Asegura que esté encima */
  padding: 10px;
}
.heart2 img {
    width: 100px;
}

.quote2 p {
    color:  var(--color-principal);
    font-family: var(--font-secundaria);
   
    padding: 0;
    margin: 0;
    font-size: 1.3em;
}

.quote2 h2 {
    color: var(--color-principal);
    padding: 0;
    margin: 0;
    font-size: 2.2em;
}


.boton {
    border: 1px solid var(--color-principal);
    background-color: var(--color-secundario);
    color: var(--color-principal);
    padding: 10px 30PX;
    text-decoration: none;
    font-size: 0.8em;
    font-family: var(--font-secundaria);
    border-radius: 50PX;

 }
 .boton:hover {
     color: var(--color-secundario);
     background-color: var(--color-principal);
     border: 1px solid var(--color-secundario);
     padding: 10px 30PX;
     text-align: center;
     text-decoration: none;
 }
footer {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: var(--color-secundario);
    color: var(--color-principal);
    padding: 40px 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
footer .contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
footer img {
    width: 60px;
}
.contenido ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding:0 20px 20px 20px;
    margin: 0;
}

.contenido a {
    color: var(--color-principal);
}
.contenido a:hover {
    color: var(--color-secundario);
}
.fotos {
    display: none;
}


@media (max-width: 600px) {
    
    .timeline .iconos {
        flex-direction: column;
        
    }
    .timeline p {
        font-size: 1.7em;
        font-family: var(--font-principal);

    }
   
   .fotos {
        max-width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
   }
   .fotos img {
       width: 100%;
   }
    

}